<div class="buttons">
    <button id="create_button">Create</button>
    <button id="filter_button">Filter</button>
    <button id="update_button">Update</button>
    <button id="delete_button">Delete</button>
</div>