<div id="create_data">
    <h3>Create Data</h3>
    <label for="set_species">Species</label>
    <input type="text" id="set_species" name="set_species" placeholder={{species}}>
    <label for="set_age">Age</label>
    <input type="text" id="set_age" name="set_age" placeholder={{age}}>
    <label for="set_tank_id">Tank ID</label>
    <input type="text" id="set_tank_id" name="set_tank_id" placeholder={{tank_id}}>
    <label for="set_volume_needed">Volume Needed</label>
    <input type="text" id="set_volume_needed" name="set_volume_needed" placeholder={{volume_needed}}>
</div>