<div class="data_container">
    <div class="data">
        <span id="feed_id">{{feed_id}}</span>
        &nbsp;
        <span id="name">{{name}}</span>
        &nbsp;
        <span id="stock">{{stock}}</span>
    </div>
</div>