<div class="data_container">
    <div class="feed_data">
        <input type="text" class="static" class="feed_id" name="feed_id" placeholder={{feed_id}} readonly>
        <input type="text" class="name" name="name" placeholder="{{name}}">
        <input type="text" class="stock" name="stock" placeholder={{stock}}>
        <input type="checkbox" class="delete" name="delete">
    </div>
</div>