<tr>
    <td ondrop="dropFish(event)" ondragover="allowDrop(event)" style="border: 1px solid; border-color:black;">{{fish_id}}</td>
    <td ondrop="dropFeed(event)" ondragover="allowDrop(event)" style="border: 1px solid; border-color:black;">{{feed_id}}</td>
    <td class="delete-row" ><button type="button" onclick="dropRelationship(event)"><i class="fas fa-trash"></i></button></td>
</tr>