<div class="data_container">
    <div class="plant_data">
        <input type="text" class="static" class="plant_id" name="plant_id" placeholder={{plant_id}} readonly>
        <input type="text" class="species" name="species" placeholder="{{species}}">
        <input type="text" class="tank_id" name="tank_id" placeholder={{tank_id}}>
        <input type="checkbox" class="delete" name="delete">
    </div>
</div>