<div class="data_container">
    <div class="data">
        <input type="text" id="plant_id" name="plant_id" placeholder={{plant_id}} readonly>
        <input type="text" id="species" name="species" placeholder={{species}}>
        <input type="text" id="tank_id" name="tank_id" placeholder={{tank_id}}>
        <input type="checkbox" id="delete" name="delete">
    </div>
</div>