<div class="data_entry">
    <div class="data">
                <span id="plant_id">{{plant_id}}</span>
        &nbsp;
                <span id="species">{{species}}</span>
        &nbsp;
                <span id="tank_id">{{tank_id}}</span>
        &nbsp;
    </div>
</div>