<tr>
    <td style="border: 1px solid; border-color:black;">{{plant_id}}</td>
    <td style="border: 1px solid; border-color:black;">{{pump_id}}</td>
    <td class="delete-row"><button type="button"><i class="fas fa-trash"></i></button></td>
</tr>