<div class="data_container">
    <div class="pump_data">
        <input type="text" class="static" class="pump_id" name="pump_id" placeholder={{pump_id}} readonly>
        <input type="text" class="flow_rate" name="flow_rate" placeholder={{flow_rate}}>
        <input type="text" class="age" name="age" placeholder={{age}}>
        <input type="checkbox" class="delete" name="delete">
    </div>
</div>