<div class="data_container">
    <div class="data">
        <input type="text" id="pump_id" name="pump_id" placeholder={{pump_id}} readonly>
        <input type="text" id="flow_rate" name="flow_rate" placeholder={{flow_rate}}>
        <input type="text" id="age" name="age" placeholder={{age}}>
        <input type="checkbox" id="delete" name="delete">
    </div>
</div>