<div class="data_container">
    <div class="data">
                <span id="pump_id">{{pump_id}}</span>
        &nbsp;
                <span id="flow_rate">{{flow_rate}}</span>
        &nbsp;
                <span id="age">{{age}}</span>
        &nbsp;
    </div>
</div>