<tr class="data" draggable="true" ondragstart="drag(event)" value={{pump_id}} type="Pump">
        <td id="pump_id">{{pump_id}}</td>
        <td id="flow_rate">{{flow_rate}}</td>
        <td id="age">{{age}}</td>
</tr>
