<div class="table_headers">
    <input type="text" id="fish_id_head" placeholder="Fish ID" readonly>
    <input type="text" id="species_head"placeholder="Species" readonly>
    <input type="text" id="age_head" placeholder="Age" readonly>
    <input type="text" id="tank_id_head" placeholder="Tank ID" readonly>
    <input type="text" id="volume_needed_head" placeholder="Volume Needed" readonly>
    <input type="text" id="delete_head" placeholder="Delete Row" readonly>
</div>