<div class="data_container">
    <div class="data">
        <input type="text" id="tank_id" name="tank_id" placeholder={{tank_id}} readonly>
        <input type="text" id="volume" name="volume" placeholder={{volume}}>
        <input type="text" id="pump_id" name="pump_id" placeholder={{pump_id}}>
        <input type="checkbox" id="delete" name="delete">
    </div>
</div>