<div class="data_container">
    <div class="tank_data">
        <input type="text" class="static" class="tank_id" name="tank_id" placeholder={{tank_id}} readonly>
        <input type="text" class="volume" name="volume" placeholder={{volume}}>
        <input type="text" class="pump_id" name="pump_id" placeholder={{pump_id}}>
        <input type="checkbox" class="delete" name="delete">
    </div>
</div>