<!--- Credit to https://www.w3schools.com/HTML/html5_draganddrop.asp --->
<script>
function allowDrop(ev){
	ev.preventDefault();
}

function drag(ev) {
	//console.log(ev.target);
	//console.log(ev.target.getAttribute('value'));
	//console.log(ev.target.id);
	let obj = {value: ev.target.getAttribute('value'), type: ev.target.getAttribute('type')};
	ev.dataTransfer.setData("text", JSON.stringify(obj));
}

function drop(ev) {
	ev.preventDefault();
	var type = ev.target.getAttribute('title');
	var obj = JSON.parse(ev.dataTransfer.getData("text"));
	var data = obj.value;
	var obj_type = obj.type;
	if(type === obj_type){
		ev.target.textContent = data;
		//ev.target.setAttribute('value', data);
	}else{
		console.log(type);
		console.log(obj_type);
	}
}

function addRelationship(ev) {
	var fish = document.getElementById("fish_input").textContent;
	var feed = document.getElementById("feed_input").textContent;

	if(isNaN(parseInt(fish)) || isNaN(parseInt(feed))){
		return;
	}
    var postRequest = new XMLHttpRequest();
    var URL = '/input_ff';
    postRequest.open('POST', URL);
    var reqBody = JSON.stringify({
        fish_id: fish,
        feed_id: feed
    });

    postRequest.setRequestHeader('Content-Type', 'application/json');
    /*postRequest.addEventListener('load', function (event){
        if (event.target.status === 200) {
            //var template = Handlebars.templates.definitions;
            var Content = {
                question: fish,
                answer: feed
            };
            var cardHTML = Handlebars.templates.definitions(Content);
            var container = document.getElementsByClassName("flashcard-definitions");
            container[0].insertAdjacentHTML('beforeend', cardHTML);
            //addFlashCardDelete();
        }else{
            alert("Error adding flashcard to server: " + event.target.response);
        }
    });*/
    postRequest.send(reqBody);

}

</script>
<main class="temp_content">
	<h1>Fish and Feeds</h1>

	<div id="Lists">

	<div class="Objects" style="overflow-y: scroll;">
		<h2>Fish</h2>
		<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Species</th>
				<th>Age</th>
				<th>Tank ID</th>
				<th>Volume Needed</th>
			</tr>
		</thead>
		<tbody>
		{{#each data.Fishes}}
			{{>fish_data_m}}
		{{/each}}
		</tbody>
		</table>
	</div>

<i class="move fas fa-random fa-rotate-90 fa-10x"></i>
	
	<div class="Objects" style="overflow-y: scroll;">
		<h2>Feed</h2>
		<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Stock</th>
			</tr>
		</thead>
		<tbody>
		{{#each data.Feeds}}
			{{>feed_data_m}}
		{{/each}}
		</tbody>
		</table>
	</div>

	</div>
	<br>

	<div id="Fish_Feeds">
		<h2>Relationships</h2>
		<table>
		<thead>
			<tr>
				<th class="static">fish_id</th>
				<th class="static">feed_id</th>
				<th class="static">delete/add</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id="fish_input" class="input" ondrop="drop(event)" ondragover="allowDrop(event)" title="Fish">Drag Fish Here</td>
				<td id="feed_input" class="input" ondrop="drop(event)" ondragover="allowDrop(event)" title="Feed">Drag Feed Here</td>
				<td class="add" onclick="addRelationship(event)"><button type="button"><i class="fas fa-plus"></i></button></td>
			</tr>
		{{#each data.FF}}
			{{>ff_relationship}}
		{{/each}}
		</tbody>
		</table>
	</div>
</main>
