<main id="fish">
	<h1>Fishes</h1>

	<datalist id="foreign_tanks2">
		{{#each Tanks}}
			<option value="{{tank_id}}">{{volume}}</option>
		{{/each}}
	</datalist>

	<aside class="filter_box">
		<h3>Filter</h3>

		{{#> info}}
		Enter your desired value for each attribute and then click the "Filter" button to filter the table!
		{{/info}}

		<form class="input_box" id="fishes_filter" method="GET" action="/fishes_filter">
			<div class="inputs">
				<label for="get_fish_id">Fish ID</label>
				<input type="text" id="get_fish_id" name="get_fish_id">
			</div>
			<div class="inputs">
				<label for="get_species">Species</label>
				<input type="text" id="get_species" name="get_species">
			</div>
			<div class="inputs">
				<label for="get_age">Age</label>
				<input type="text" id="get_age" name="get_age">
			</div>
			<div class="inputs">
				<label for="get_tank_id">Tank ID</label>
				<input type="text" id="get_tank_id" name="get_tank_id" list="foreign_tanks2">
			</div>
			<div class="inputs">
				<label for="get_volume_needed">Volume Needed</label>
				<input type="text" id="get_volume_needed" name="get_volume_needed">
			</div>

			<input type="submit" value="Filter" class="query_button">
		</form>
	</aside>

	<div class="data_box">
		<h3>Data</h3>

		{{#> info}}
		The boxes that turn light green are changeable and the boxes that turn salmon color are readonly. To edit data, type the desired value into the selected light green box and click on the "Update" button. For null values, enter "null" into the input box. Headers with a * are nullable. To delete data, click on the checkbox next to the data's row and click the "Delete" button!
		{{/info}}

		<div class="header">
			<input type="text" id="fish_id_head" placeholder="Fish ID" readonly>
			<input type="text" id="species_head"placeholder="Species" readonly>
			<input type="text" id="age_head" placeholder="Age" readonly>
			<input type="text" id="tank_id_head" placeholder="*Tank ID" readonly>
			<input type="text" id="volume_needed_head" placeholder="Volume Needed" readonly>
			<input type="text" id="delete_head" placeholder="Delete Row" readonly>
		</div>

		{{#each Fishes}}
			{{> fish_data}}
		{{/each}}<br>

		<button id="update_fishes">Update</button>
		<button id="delete_fishes">Delete</button>
	</div>

	<div class="create">
		<h3>Create Data</h3>

		{{#> info}}
		Enter your desired values for each attribute and click on the "Create" button to add data to the table!
		{{/info}}

		<form class="input_box" id="input_fishes" method="POST" action="/input_fishes">
			<div class="inputs">
				<label for="set_species">Species</label>
				<input type="text" id="set_species" name="set_species">
			</div>
			<div class="inputs">
				<label for="set_age">Age</label>
				<input type="text" id="set_age" name="set_age">
			</div>
			<div class="inputs">
				<label for="set_tank_id">Tank ID</label>
				<input type="text" id="set_tank_id" name="set_tank_id" list="foreign_tanks2">
			</div>
			<div class="inputs">
				<label for="set_volume_needed">Volume Needed</label>
				<input type="text" id="set_volume_needed" name="set_volume_needed">
			</div>

			<input type="submit" value="Create" class="query_button">
		</form>
	</div><br>
</main>