<main class="temp_content">
	<h1>Fish and Feeds</h1>

	<div id="Lists">

	<div class="Objects" style="overflow-y: scroll;">
		<h2>Fish</h2>
		{{#each Fishes}}
			{{>fish_data_m}}
		{{/each}}
	</div>

	
	<div class="Objects" style="overflow-y: scroll;">
		<h2>Feed</h2>
		{{#each Feeds}}
			{{>feed_data_m}}
		{{/each}}
	</div>
	</div>
	<br>

	<h2>Relationships</h2>

	<div id="Fish_Feeds" style="display: grid; grid-template-columns: auto auto auto;">
		<div class="static">fish_id</div>
		<div class="static">feed_id</div>
		<div class="static">delete</div>
		<div class="input">Drag Fish Here</div>
		<div class="input">Drag Feed Here</div>
		<div class="delete">Click delete of a row to remove</div>
		{{#each Fish_Feeds}}
		<div>{{this.fish_id}}</div>
		<div>{{this.feed_id}}</div>
		<div class="delete-row"><button type="button">Delete</button>
		{{/each}}
	</div>
</main>
