<main id="fish">
	<h1>Fishes</h1>

	<aside class="filter_box">
		<h3>Filter</h3>

		{{#> info}}
		Enter your desired value for each attribute and then click the "Filter" button to filter the table!
		{{/info}}

		<div class="input_box">
			<div class="inputs">
				<label for="get_fish_id">Fish ID</label>
				<input type="text" id="get_fish_id" name="get_fish_id">
			</div>
			<div class="inputs">
				<label for="get_species">Species</label>
				<input type="text" id="get_species" name="get_species">
			</div>
			<div class="inputs">
				<label for="get_age">Age</label>
				<input type="text" id="get_age" name="get_age">
			</div>
			<div class="inputs">
				<label for="get_tank_id">Tank ID</label>
				<input type="text" id="get_tank_id" name="get_tank_id">
			</div>
			<div class="inputs">
				<label for="get_volume_needed">Volume Needed</label>
				<input type="text" id="get_volume_needed" name="get_volume_needed">
			</div>
		</div>

		<button id="filter_button">Filter</button>
		<br><br>
	</aside>

	{{#> info}}
	The boxes that turn light green are changeable and the boxes that turn salmon color are readonly. To edit data, type the desired value into the selected light green box and click on the "Update" button. To delete data, click on the checkbox next to the data's row and click the "Delete" button!
	{{/info}}

	<div class="header">
		<input type="text" id="fish_id_head" placeholder="Fish ID" readonly>
		<input type="text" id="species_head"placeholder="Species" readonly>
		<input type="text" id="age_head" placeholder="Age" readonly>
		<input type="text" id="tank_id_head" placeholder="Tank ID" readonly>
		<input type="text" id="volume_needed_head" placeholder="Volume Needed" readonly>
		<input type="text" id="delete_head" placeholder="Delete Row" readonly>
	</div>

	{{#each Fishes}}
		{{> fish_data}}
	{{/each}}<br>


	<div class="create">
		<h3>Create Data</h3>

		{{#> info}}
		Enter your desired values for each attribute and click on the "Create" button to add data to the table!
		{{/info}}

		<div class="input_box">
			<div class="inputs">
				<label for="set_species">Species</label>
				<input type="text" id="set_species" name="set_species">
			</div>
			<div class="inputs">
				<label for="set_age">Age</label>
				<input type="text" id="set_age" name="set_age">
			</div>
			<div class="inputs">
				<label for="set_tank_id">Tank ID</label>
				<input type="text" id="set_tank_id" name="set_tank_id">
			</div>
			<div class="inputs">
				<label for="set_volume_needed">Volume Needed</label>
				<input type="text" id="set_volume_needed" name="set_volume_needed">
			</div>
		</div>
	</div><br>

	{{> buttons}}

</main>
