<main class="temp_content">
	<h1>Functionality for fishes, feeds, plants, pumps, and tanks</h2>
	<p>Use these tables to create, find, update and delete specific instances of the chosen entity. Do this by filing in the required input boxes.</p>

	<h1>Functionality for fish_feeds and plants_pumps</h1>
	<p>Use these tables to create, update, and delete specific relationships between the chosen entities.
		 Do this by dragging the desired entity to the relationship table!</p>
</main>
