<!--- Credit to https://www.w3schools.com/HTML/html5_draganddrop.asp --->
<script>
function allowDrop(ev){
	ev.preventDefault();
}

function drag(ev) {
	//console.log(ev.target);
	//console.log(ev.target.getAttribute('value'));
	//console.log(ev.target.id);
	let obj = {value: ev.target.getAttribute('value'), type: ev.target.getAttribute('type')};
	ev.dataTransfer.setData("text", JSON.stringify(obj));
}

function drop(ev) {
	ev.preventDefault();
	var type = ev.target.getAttribute('title');
	var obj = JSON.parse(ev.dataTransfer.getData("text"));
	var data = obj.value;
	var obj_type = obj.type;
	if(type === obj_type){
		ev.target.textContent = data;
		//ev.target.setAttribute('value', data);
	}else{
		console.log(type);
		console.log(obj_type);
	}
}


function dropPlant(ev) {
	ev.preventDefault();
	var type = ev.currentTarget.getAttribute('title');
	var obj = JSON.parse(ev.dataTransfer.getData("text"));
	var data = obj.value;
	var obj_type = obj.type;
	if("Plant" === obj_type){
		
		var button = ev.currentTarget.parentNode.children[2].children[0];
		if(button.children[0].classList.contains('fa-trash')){
			button.children[0].classList.remove('fa-trash');
			button.children[0].classList.add('fa-arrow-circle-up');
			button.setAttribute('data-plant', ev.currentTarget.textContent);
			button.setAttribute('data-pump', ev.currentTarget.parentNode.children[1].textContent);
			button.setAttribute("onclick", "updateRelationship(event)");
		}
		ev.currentTarget.textContent = data;
		//ev.target.setAttribute('value', data);
	}else{
		console.log(type);
		console.log(obj_type);
	}
}

function dropPump(ev) {
	ev.preventDefault();
	var type = ev.currentTarget.getAttribute('title');
	var obj = JSON.parse(ev.dataTransfer.getData("text"));
	var data = obj.value;
	var obj_type = obj.type;
	if("Pump" === obj_type){
		
		var button = ev.currentTarget.parentNode.children[2].children[0];
		if(button.children[0].classList.contains('fa-trash')){
			button.children[0].classList.remove('fa-trash');
			button.children[0].classList.add('fa-arrow-circle-up');
			button.setAttribute('data-plant', ev.currentTarget.parentNode.children[0].textContent);
			button.setAttribute('data-pump', ev.currentTarget.textContent);
			button.setAttribute("onclick", "updateRelationship(event)");
		}
		ev.currentTarget.textContent = data;
		//ev.target.setAttribute('value', data);
	}else{
		console.log(type);
		console.log(obj_type);
	}
}

function addRelationship(ev) {
	var plant = document.getElementById("plant_input").textContent;
	var pump = document.getElementById("pump_input").textContent;

	if(isNaN(parseInt(plant)) || isNaN(parseInt(pump))){
		return;
	}
    var postRequest = new XMLHttpRequest();
    var URL = '/input_pp';
    postRequest.open('POST', URL);
    var reqBody = JSON.stringify({
        plant_id: plant,
        pump_id: pump
    });

    postRequest.setRequestHeader('Content-Type', 'application/json');
    postRequest.addEventListener('load', function (event){
        if (event.target.status === 200) {
			window.location.reload(true);
        }
    });
    postRequest.send(reqBody);

}



function dropRelationship(ev) {
	var row = ev.currentTarget.parentNode.parentNode;
	var plant = row.children[0].textContent;
	var pump = row.children[1].textContent;

	var postRequest = new XMLHttpRequest();
    var URL = '/delete_pp';
    postRequest.open('DELETE', URL);
    var reqBody = JSON.stringify({
        plant_id: plant,
        pump_id: pump
    });

    postRequest.setRequestHeader('Content-Type', 'application/json');
    postRequest.addEventListener('load', function (event){
        if (event.target.status === 200) {
			row.remove();
        }
    });
    postRequest.send(reqBody);
}

function updateRelationship(ev) {
	var row = ev.currentTarget.parentNode.parentNode;
	var button = row.children[2].children[0];
	var plant = row.children[0].textContent;
	var pump = row.children[1].textContent;
	var old_plant_id = button.getAttribute('data-plant');
	var old_pump_id = button.getAttribute('data-pump');
	var postRequest = new XMLHttpRequest();
    var URL = '/update_pp';
    postRequest.open('PUT', URL);
    var reqBody = JSON.stringify({
        plant_id: plant,
        pump_id: pump,
		old_plant_id: old_plant_id,
		old_pump_id: old_pump_id
    });

    postRequest.setRequestHeader('Content-Type', 'application/json');
    postRequest.addEventListener('load', function (event){
        if (event.target.status === 200) {
			button.children[0].classList.remove('fa-arrow-circle-up');
			button.children[0].classList.add('fa-trash');
			button.removeAttribute('data-plant');
			button.removeAttribute('data-pump');
			button.setAttribute("onclick", "dropRelationship(event)");

        }
    });
    postRequest.send(reqBody);
}

</script>
<main class="temp_content">
	<h1>Plants and Pumps</h1>

	{{#> info}}
		Rows of plants and pumps can be dragged into the input row to add a relationship, or dragged over an existing relationship to update.
	{{/info}}

	<div id="Lists">
	<div class="objects" style="overflow-y: auto;">
		<h2>Plants</h2>
		<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Species</th>
				<th>Tank ID</th>
			</tr>
		</thead>
		<tbody>
		{{#each data.Plants}}
			{{>plant_data_m}}
		{{/each}}
		</tbody>
		</table>
	</div>


<!-- <i class="move fas fa-random fa-rotate-90 fa-10x"></i> -->

	<div class="objects" style="overflow-y: auto;">
		<h2>Pumps</h2>
		<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Flow Rate</th>
				<th>Age</th>
			</tr>
		</thead>
		<tbody>
		{{#each data.Pumps}}
			{{>pump_data_m}}
		{{/each}}
		</tbody>
		</table>

	</div>
	</div>
	<br>

	

	<div id="Plants_Pumps">
		<h2>Relationships</h2>
		<table>
		<thead>
			<tr>
				<th class="static">plant_id</th>
				<th class="static">pump_id</th>
				<th class="static">delete/add</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td id="plant_input" class="input" ondrop="drop(event)" ondragover="allowDrop(event)" title="Plant">Drag Plant Here</td>
				<td id="pump_input" class="input" ondrop="drop(event)" ondragover="allowDrop(event)" title="Pump">Drag Pump Here</td>
				<td class="add" onclick="addRelationship(event)"><button type="button"><i class="fas fa-plus"></i></button></td>
			</tr>
		{{#each data.PP}}
			{{>pp_relationship}}
		{{/each}}
		</tbody>
		</table>
	</div>
 
</main>
