<main class="temp_content">
	<h1>Plants and Pumps</h1>

	<div id="Lists">
	<div class="Objects" style="overflow-y: scroll;">
		<h2>Plants</h2>
		<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Species</th>
				<th>Tank ID</th>
			</tr>
		</thead>
		<tbody>
		{{#each Plants}}
			{{>plant_data_m}}
		{{/each}}
		</tbody>
		</table>
	</div>


<i class="move fas fa-random fa-rotate-90 fa-10x"></i>

	<div class="objects" style="overflow-y: scroll;">
		<h2>Pumps</h2>
		<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Flow Rate</th>
				<th>Age</th>
			</tr>
		</thead>
		<tbody>
		{{#each Pumps}}
			{{>pump_data_m}}
		{{/each}}
		</tbody>
		</table>

	</div>
	</div>
	<br>

	

	<div id="Plants_Pumps">
		<h2>Relationships</h2>
		<table>
		<thead>
			<tr>
				<th class="static">plant_id</th>
				<th class="static">pump_id</th>
				<th class="static">delete/add</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="input">Drag Plant Here</td>
				<td class="input">Drag Pump Here</td>
				<td class="add"><button type="button"><i class="fas fa-plus"></i></button></td>
			</tr>
		{{#each Plants_Pumps}}
			<tr>
				<td style="border: 1px solid; border-color:black;">{{this.plant_id}}</td>
				<td style="border: 1px solid; border-color:black;">{{this.pump_id}}</td>
				<td class="delete-row"><button type="button"><i class="fas fa-trash"></i></button></td>
			</tr>
		{{/each}}
		</tbody>
		</table>
	</div>
</main>
