<main id="pump">
	<h1>Pumps</h1>

	<aside class="filter_box">
		<h3>Filter</h3>

		{{#> info}}
		Enter your desired value for each attribute and then click the "Filter" button to filter the table!
		{{/info}}

		<form class="input_box" id="pumps_filter" method="GET" action="/pumps_filter">
			<div class="inputs">
				<label for="get_pump_id">Pump ID</label>
				<input type="text" id="get_pump_id" name="get_pump_id">
			</div>
			<div class="inputs">
				<label for="get_flow_rate">Flow Rate</label>
				<input type="text" id="get_flow_rate" name="get_flow_rate">
			</div>
			<div class="inputs">
				<label for="get_age">Age</label>
				<input type="text" id="get_age" name="get_age">
			</div>

			<input type="submit" value="Filter" class="query_button">
		</form>
	</aside>

	<div class="data_box">
		<h3>Data</h3>

		{{#> info}}
		The boxes that turn light green are changeable and the boxes that turn salmon color are readonly. To edit data, type the desired value into the selected light green box and click on the "Update" button. For null values, enter "null" into the input box. Headers with a * are nullable. To delete data, click on the checkbox next to the data's row and click the "Delete" button!
		{{/info}}

		<div class="header">
			<input type="text" id="pump_id_head" placeholder="Pump ID" readonly>
			<input type="text" id="flow_rate_head"placeholder="Flow Rate" readonly>
			<input type="text" id="age_head" placeholder="Age" readonly>
			<input type="text" id="delete_head" placeholder="Delete Row" readonly>
		</div>

		{{#each Pumps}}
			{{> pump_data}}
		{{/each}}<br>
		<button id="update_pumps">Update</button>
		<button id="delete_pumps">Delete</button>
	</div>

	<div class="create">
		<h3>Create Data</h3>

		{{#> info}}
		Enter your desired values for each attribute and click on the "Create" button to add data to the table!
		{{/info}}

		<form class="input_box" id="input_pumps" method="POST" action="/input_pumps">
			<div class="inputs">
				<label for="set_flow_rate">Flow Rate</label>
				<input type="text" id="set_flow_rate" name="set_flow_rate">
			</div>
			<div class="inputs">
				<label for="set_age">Age</label>
				<input type="text" id="set_age" name="set_age">
			</div>

			<input type="submit" value="Create" class="query_button">
		</form>
	</div><br>
</main>