/* General css */
body {
    background-color: lightskyblue;
}

body > h1 {
    color: darkgreen;
    font-size: 40px;
    text-align: center;
}

.home p {
    color: darkgreen;
    font-size: 30px;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* Entity Pages */
main {
    margin-left: 3%;
    margin-right: 3%;
}

h1 {
    color: darkgreen;
    text-align: center;
    font-size: 35px;
}

h2 {
    color: darkgreen;
    text-align: center;
}

h3 {
    color: darkgreen;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* M:M entity tables */

#Lists {
    display: grid;
    grid-template-columns: auto auto auto;
}

#Lists .Objects{
    text-align: justify;
}

#Lists .move{
    margin-top: 150px;
    margin-right: 60px;
    height: 310px;
}

#Fish_Feeds, #Plants_Pumps {
    text-align: center;
}

#Fish_Feeds table, #Plants_Pumps table{
    margin-left: auto;
    margin-right: auto;
}

th, td {
    min-width: 60px;
    padding: 11px;
    text-align: center;
}

tr .data {
    background-color: rgb(100, 180, 230);
}

table {
    width: 90%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.objects {
    margin: auto;
    width: 35%;
}

#Lists {
    display: flex;
    justify-content: center;
}

.data {
    box-shadow: 2px 2px 3px;
    background-color: rgb(101, 172, 211);
}


.delete-row button, .add button{
    width: 50%;
}
/* Nav Bar */
.navbar {
    background-color: rgb(52, 52, 189);
    padding: 15px 15px;
    text-align: center;
}

.navbar a {
    background-color: skyblue;
    text-decoration: none;
    color: rgb(1, 58, 44);
    padding: 10px 40px;
    display: inline-block;
    margin-bottom: 5px;
}

.navbar a:hover {
    background-color: steelblue;
}

/* Filter */
.filter_box {
    border: solid 1px darkgrey;
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
}

/* Data Creation */
.create {
    border: solid 1px darkgrey;
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
}

/* Input Boxes */
.inputs label {
    color: darkgreen;
    font-weight: 700;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.inputs {
    display: inline-block;
}

.inputs input{
    display: block;
}

/* Data tables */
.data_box {
    border: solid 1px darkgrey;
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
}

.header ::placeholder{
    color:black;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.data_container ::placeholder {
    color: black;
    font-weight: 700;
    font-size: 16px;
}

input[type="checkbox"]{
    margin-left: 6.5%;
}

/* General input boxes */
input[type="text"] {
    width: 13%;
    height: 40px;
    border-radius: 15px;
    background: #cffffe;
}

textarea:focus, input:focus {
    outline: none;
}

input {
    margin: 1px;
}

input:focus{
    background:#7FFFD4;
    transition-duration: 0.6s;
}

.header input:focus {
    background:lightsalmon;
    transition-duration: 0.6s; 
}

.static:focus {
    background:lightsalmon;
    transition-duration: 0.6s; 
}

.input_box input {
    width: 95%;
}

/* Hover buttons */
.info {
    display: none;
    color: darkgreen;
}

.show_info:hover + .info {
    display: inline-block;
}

/* CRUD Buttons */
button {
    background-color: darkgreen;
    color: white;
    text-align: center;
    border: none;
    width: 12%;
    height: 35px;
    border-radius: 30px;
    margin: 10px;
}

.input_box .query_button {
    background-color: darkgreen;
    color: white;
    text-align: center;
    border: none;
    width: 12%;
    height: 35px;
    border-radius: 30px;
    margin-right: 100%;
    margin-top: 25px;
}

.buttons {
    left: 50%;
    margin: 0;
}

button:hover {
    background-color: green;
    transition-duration: 0.6s;
}

.query_button:hover {
    background-color: green;
    transition-duration: 0.6s;
}